<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.Neos_LiveTV" version="1.0.3">
    <name>Neos TV</name>
    <description>
        Neos Interactive
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Youssef Madi
    </author>
    <content src="index.html"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-insomnia" />
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <icon density="ldpi" src="res/icon.png"/>
        <icon density="mdpi" src="res/icon.png"/>
        <icon density="hdpi" src="res/icon.png"/>
        <icon density="xhdpi" src="res/icon.png"/>
        <icon density="xxhdpi" src="res/icon.png"/>
        <icon density="xxxhdpi" src="res/icon.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <feature name="Insomnia">
        <param name="android-package" value="nl.xservices.plugins.Insomnia" />
    </feature>
</widget>
